.nav-tabs {
  margin-bottom: 15px;
}

.nav-pills.nav-stacked > li > a {
    border-radius: 0px;
}

.nav-pills.nav-tabs > li > a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-pills.nav-stacked > li > a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
